/* HEADER */

.logo-sony {
    background-color: black;
    height: 46px;
    display: flex;
}

.sony {
    height: 20px;
    margin-right: 20px;
}

.nav2 {
    justify-content: flex-end;
}

header .col-5 {
    display: flex;
}

header .btn-primary {
    color: #fff;
    background-color: #363636;
    border-color: #363636;
    border-radius: 26px;
    font-weight: bold;
}

.fas.fa-search {
    margin-left: 25px;
}


/* MAIN */


/* JUMBOTRON */

.jumbotron {
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    height: 80vh;
    background-position: center;
    color: white;
    font-weight: bold;
}

.logo-game img {
    width: 80%;
}

.buy-now .btn-primary {
    color: #fff;
    background-color: #cd3d0f;
    border-color: #cd3d0f;
    border-radius: 30px;
}

.jumbotron .col-4 {
    margin-top: 17rem;
}