/* BOTTONI */

.btn-primary {
    border-radius: 26px;
}


/* BACKGROUND IMAGE */

.jumbotron,
.banner {
    background-size: cover;
    height: 80vh;
    background-position: center;
    color: white;
    font-weight: bold;
}


/* HEADER */

.logo-sony {
    background-color: black;
    height: 46px;
    display: flex;
}

.sony {
    height: 20px;
    margin-right: 20px;
}

.nav2 {
    justify-content: flex-end;
}

header .col-5 {
    display: flex;
}

header .btn-primary {
    background-color: #363636;
    border-color: #363636;
    font-weight: bold;
}

.fas.fa-search {
    margin-left: 25px;
}


/* MAIN */


/* JUMBOTRON */

.jumbotron {
    background-image: url('../img/jumbo-bg.png');
}

.logo-game img {
    width: 70%;
}

.buy-now .btn-primary {
    background-color: #cd3d0f;
    border-color: #cd3d0f;
}

.jumbotron .col-4 {
    margin-top: 17rem;
}


/* PLAYSTATION 5 SECTION */

.play-station5 .col-2 img {
    width: 100%;
    margin-top: 1rem;
    border-radius: 1rem;
}

.slogan-ps5 {
    margin-top: 6rem;
}

.play-station5 p {
    opacity: 0.6;
    margin-top: 1rem;
}

.slogan {
    color: #1f82d3;
}

.play-station5 img {
    width: 100%;
}


/* BANNER SECTION */

.banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.banner .col-4 {
    margin-top: 6rem;
}